{% from "macros/account_label.html" import render_account_label %}
{% from "macros/bookmarks_label.html" import render_bookmarks_label %}
{% from "macros/tags.html" import render_tags %}
{% macro render_article_preview(item) %}
    <article class="article_preview">
        <div class="layout-horizontal">
            <a href="/users/{{ item.user.username }}">
                {{render_account_label(item.user)}}
            </a>
            <span class="max"></span>
        </div>
        <img class="image" src="{{ item.pic }}">
        <div class="layout-horizontal gap wrap">{{ render_tags(item.tags) }}</div>
        <div>{{ item.content_preview }}</div>
        <div class="layout-horizontal gap">
            <span class="max">
                {% if item.comments_count > 0 %}
                    {{item.comments_count}} комментария
                {% else %}
                    <span class="disabled">Нет комментариев</span>
                {% endif %}
            </span>
            <span class="layout-horizontal gap">
                <span class="material-icons">visibility</span>
                <span>{{item.views_count}}</span>
            </span>
        </div>
        <div class="layout-horizontal gap">
            <a class="underline" href="/posts/{{ item.id }}">Подробнее</a>
            <span class="max"></span>
            <a observible="true" class="layout-horizontal gap" href="#" onclick="onRequestHtml(this, '/bookmarks/switch?id={{ item.id }}', { method: 'PUT' })">
                {{ render_bookmarks_label(item.bookmarks_count) }}
            </a>
        </div>
    </article>
{% endmacro %}